[submodule "packages/yay"]
	path = packages/yay
	url = https://aur.archlinux.org/yay.git
[submodule "packages/quickjs"]
	path = packages/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "packages/dragon"]
	path = packages/dragon
	url = https://github.com/mwh/dragon.git
